html {
    box-sizing: border-box;
}

.task {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    /* align-items: flex-end; */
    /* min-height: 1vh; */
    background: #eee;
    background-image:
    linear-gradient(
      to top right, 
      #eee, #fff
      );
}


.task div {
    min-width: 30rem;
    border-radius: 2rem;
    margin: 2rem 0 0 0;
    justify-content: space-evenly;
    height: calc(100vh - 22rem);
    padding:none;
}

.addTask-input {
    margin: 1rem 2rem;
    height: 3rem;
    border-radius: 1.5rem;
}

.addTime-input {
    margin: 1rem 2rem;
    height: 3rem;
    border-radius: 1.5rem;
}

.addTask-button {
    margin: 1rem 2rem;
    height: 3rem;
    width: 7rem;
    border-radius: 1.5rem;
}

/* Decorations */
.col-xs-4 { 
    color: #222; 
    font-size: 2rem; 
    font-weight: bold;
    padding: 3rem 2rem 2rem 1rem; 
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  
    -moz-box-shadow:    1px 1px 3px 4px #ccc; 
    box-shadow:         1px 1px 3px 4px #ccc;
}

.col-xs-4:nth-child(3n+1) { background: #DBF6F4; margin-left: 2rem; }
.col-xs-4:nth-child(3n+2) { background: #00D3C2; margin-left: 2rem; }
.col-xs-4:nth-child(3n+3) { background: #FFF0E7; margin-left: 2rem; } 

#subList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* max-height: 80%; */
    width:90%;
    overflow-y: scroll;
    /* overflow-x: hidden; */
    /* margin: 1rem 0 0 -3rem; */
    flex-wrap: no-wrap;
    /* background:white; */
    margin-left:-1rem;
    margin-top:2rem;
    /* padding: */
}

#subList p {
    /* background: red; */

}

.subTask-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.subTaskArr-container {
    background: #FFE4E5;
    max-height: 12rem;
    border-radius: 2rem;
    padding: 2rem;
    margin-bottom: 20px;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    1px 1px 3px 4px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         1px 1px 3px 4px #ccc;
}

.subTaskArr-container button {
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 1.5rem;
}


#subTasks div {
    max-width: 25rem;
    border-radius: 2rem;
    margin: auto;
    margin-left: 2rem;
    align-items: center;
    font-weight: bold;
}

.taskEdit {
    border-radius: 1rem;
    margin: 1rem;
    padding: .5rem 0 .5rem 0;
}

.taskDelete {
    border-radius: 1rem;
    margin: 1rem;
    padding: .5rem 0 .5rem 0;
}

.add-subTask {
    display: inline;
    justify-content: center;
    align-items: center;
    
}

.add-subTask-button{
    height: 4rem;
    width: 10rem;
    border-radius: 1rem;
    margin: 1rem auto;
    padding: .5rem 0 .5rem 0;
}

.subTask-complete-box{
    margin-right: 1rem;
}

.subTask-complete {
    font-size: 1.4rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}