.goal {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    /* align-items: flex-end; */
    /* min-height: 1vh; */
    background: #eee;
    background-image:
    linear-gradient(
      to top right, 
      #eee, #fff
      );
}


.goal div {
    min-width: 30rem;
    border-radius: 2rem;
    margin: auto;
    margin-left: 2rem;
    justify-content: space-evenly;
    height: calc(100vh - 22rem);
    margin-bottom: 0;
}

/* Decorations */
.col-xs-4 { 
    color: #222; 
    font-size: 2rem; 
    font-weight: bold;
    padding: 3rem 2rem 2rem 1rem; 
    margin-left: 0;
    display: flex;
    flex-direction: column;
}

.col-xs-4:nth-child(3n+1) { background: #DBF6F4; }
.col-xs-4:nth-child(3n+2) { background: #00D3C2; }
.col-xs-4:nth-child(3n+3) { background: #FFF0E7; } 

#subList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* max-height: 80%; */
    width:90%;
    overflow-y: scroll;
    /* overflow-x: hidden; */
    /* margin: 1rem 0 0 -3rem; */
    flex-wrap: no-wrap;
    background:white;
    margin-left:-1rem;
    margin-top:2rem;
    /* padding: */
}

#subList p {
    /* background: red; */

}

.subGoal-container {
    /* background:purple; */
    height: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subGoal-container p {
    background:purple;
    margin-right:7rem;
    min-height:10rem;
    border-radius: 2rem;
    padding: 2rem;
}
/* 
#subGoals div {
    min-width: 25rem;
    border-radius: 2rem;
    margin: auto;
    margin-left: 2rem;
    align-items: center;
    font-weight: bold;
} */

.goalEdit {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: baseline;
}

.goalDelete {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: baseline;
}