html{
    height: 10px;
}

.Header {
    color: #FFF;
    background: #00BCBF;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    /* height: 12rem; */
    background-image:
    linear-gradient(
      to top right, 
      #00D6C1, #00B9BF
    );
}

.Header h1 {
    display: flex;
    align-items: center;
    margin: 1rem;
}

.weather-api {
    margin: 1rem;
    margin-top: 6rem;
    font-size: 2rem;
}

.Header button {
    display: fixed;
    justify-content: center;
    height: 2rem;
    width: 7rem;
    margin: 1.5rem;
    border-radius: 1.5rem;
}

.numTasks{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 2rem;
}

@media (min-width: 940px){
    .Header h1 {
      color: #fff;
      font-size: 5rem;
    }
    .weather-api{
        font-size: 4rem;
    }

    .numTasks{
        font-size: 4rem;
    }

    .Header button {
        margin: 1rem;
        height: 2.4rem;
    }
}