html{
    height: 10px;
}

.Header {
    color: #FFF;
    background: #00BCBF;
    display: flex;
    justify-content: space-between;
    height: 12rem;
    background-image:
    linear-gradient(
      to top right, 
      #00D6C1, #00B9BF
    );
}

.Header h1 {
    display: flex;
    align-items: center;
}

.Header Weather {
    display: flex;
    margin: 2rem;
    align-items: center;
}

.Header button {
    display: flex;
    height: 2rem;
    margin: 1rem;
}