html{
    height: 10px;
}

.Header {
    color: #FFF;
    background: #00BCBF;
    display: flex;
    justify-content: space-between;
    height: 10rem;
}

.Header h1 {
    display: flex;
    align-items: center;
}

.Header Weather {
    display: flex;
    margin: 2rem;
}

.Header button {
    display: flex;
    
}