body {
    background: #f3f1f2;
    font-family: sans-serif;
  }

  .vision-icons{
    display: flex;
    margin-left: 1rem;
  }

  .fa-file-alt{
    margin: 1rem;
  }

  .fa-image{
    margin: 1rem;
  }

  .thumbnail-clipboard{
    width: 100%;
    height: 65%;
  
  }

  .thumbnail{
    width: 100%;
    height: 100%;
    margin: 3rem;
    object-fit: cover;
  }
  
  .app {
    margin: 2rem;
  }
  
  .app .ql-container {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    background: #fefcfc;
  }
  
  /* Snow Theme */
  .app .ql-snow.ql-toolbar {
    display: block;
    background: #eaecec;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
  }
  
